*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tauri", sans-serif;
    color: #FFFFF0;
}

.tauri-regular {
    font-family: "Tauri", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    padding: 40px;
    background-color: #141414;
}

.container {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

header li {
    display: inline;
}

header img {
    height: 56px;
    padding: 8px;
}

header h1 {
    font-size: 28px;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin-bottom: 8px;
}

form {
    display: flex;
    max-width: 500px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 16px;
}

form input {
    font-size: 14px;
    height: 35px;
    width: 160px;
    background-color: #141414;
    border: none;
    border-bottom: 2px solid #464646;
    border-right: 2px solid #464646;
}

form button {
    background-color: #262626;
    color: #FFFFF0;
    border: none;
    height: 35px;
    width: 160px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 8px;
}

form button:hover {
    background-color: #5A5A5A;
}

#formProcContato input {
    border: 2px solid #464646;
    border-radius: 3px;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td{
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

#totalC {
    text-align: right;
}

#numeroTotalC{
    text-align: left;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

.shownTable {
    display: table-row;
}

.organizador{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.organizador label {
    font-size: 20px;
    margin-bottom: 4px;
}

.organizador select {
    width: 150px;
    background-color: #141414;
    text-align: center;
    margin-bottom: 8px;
    padding: 4px;
    font-size: 16px;
}

#lista {
    display: block;
}

.teste2 {
    display: flex;
    justify-content: center;
    align-items: end;
}

#lista li{
    list-style-type: none;
}

#imagemnalista {
    height: 60px;
    margin-right: 8px;
    margin-top: 32px;
}

#nomenalista {
    font-size: 20px;
    font-weight: bold;
}

#numeronalista {
    font-size: 16px;
}